body {
    text-align: center;
    background-color: #F3E9FF;
}

h1 {
    color: #5632C8;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
}

img {
    display: inline-block;
    max-width: 180px;
    max-height: 180px;
    margin-bottom: 40px;
}

main {
    background-color: #774AD8;
    width: 850px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(44, 44, 44, 0.2);
    margin: auto;
    margin-top: 30px;
}

div {
    padding: 16px;
    text-align: start;
    color: white;
    margin: -40px auto 0 auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 900;
    margin-bottom: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: rgb(232, 223, 223);
    font-weight: 400;
    font-size: 18px;
    border-left: 8px solid transparent;
}

.highlighted-class {
    border-left: 8px solid #F4D651;
    padding-left: 8px;
    color: #E9D1D5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.spaced-paragraph {
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
    color: rgb(232, 223, 223);
    font-weight: 400;
    font-size: 18px;
}

span {
    background-color: #FCF0AE;
    color: rgb(44, 44, 44);
    padding: 4px 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 4px;
}

a {
    display: inline-block;
    background-color: #F8C929;
    color: black;
    padding: 10px 30px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
}

a:hover {
    background-color: #d7b546;
}

footer>p {
    color: #9485A4;
    font-weight: bold;
}