body {
    background-color: rgb(31, 30, 30);
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 1rem;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    position: relative;
    top: 8rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-color: rgb(243, 243, 247);
}

input:focus,
textarea:focus {
    background-color: rgb(148, 145, 150);
    color: white;
}

textarea {
    resize: none;
}

button {
    display: block;
}

.form-inline-control {
    display: flex;
}

.form-inline-control input {
    width: auto;
    margin-right: 0.5rem;
}